/*--Section Containers--*/
section, nav, footer{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.875rem; /*roughly 30px*/
}

section{
	padding-top: 4rem;
	padding-bottom: 4rem;
}

/*--nav bar--*/
nav ul{
	display: inline;
	grid-column: 1/span 11;
}

/*--Home page--*/
/*Intro*/
#intro a{
	color: var(--cta-colour);
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 0;
}

/*#intro h1{
	width:clamp(20ch, 100%, 35ch);
}*/

.home-about{
	grid-column: 2/span 8;
}

/*Projects heading*/
#work{
	grid-template-rows: 0.1fr 2fr;
}

.my-recent-work{
	grid-column: 2/span 10;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-column-gap: 1.875rem;
}

#work .overview-subheading{
	grid-column: 1/span 2;
}

.horizontal-line{
	grid-column: 2/span 7;
}

/*Project cards*/
.proj-card{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 0.1fr 0.1fr;
	margin-top: 2rem;
	padding: 2rem;
	padding-bottom: 0;
}

.proj-card img{
	width: 100%;
	height: auto;
	border-radius: 15px;
}

.proj-card:nth-of-type(2){
	grid-column: 2/span 5;
}

.proj-card:nth-of-type(3){
	grid-column: 7/span 5;
}

.proj-card a{
	grid-column: 1/span 2;
	grid-row: 1;
}

.proj-card .subheading{
	grid-column: 1/span 2;
	grid-row: 2;
}

.proj-card h3{
	grid-column: 1/span 2;
	grid-row: 3;
}

.proj-card .cta{
	grid-column: 2/span 1;
	grid-row: 3;
	text-align: right;
	margin-top: 10px;
}

/*----About Me---*/
.bonnie{
	grid-column: 4/span 3;
}

.about{
	grid-column: 7/span 3;
}

.about-hobbies{
	grid-column: 3/span 3;
}

.about-connect{
	grid-column: 9/span 3;
}

/*----Work----*/
.content, .content-noSpaced{
	grid-column: 4/span 6;
}

/*Design Overview: Roles*/
.role:first-of-type{
	grid-column: 3/span 2;
}

.role:nth-of-type(2){
	grid-column: 5/span 2;
}

.role:nth-of-type(3){
	grid-column: 7/span 2;
}

.role:nth-of-type(4){
	grid-column: 9/span 2;
}

/*Feature*/
#feature h2{
	grid-column: 3/span 5;
}

video{
	grid-column: 3/span 5;
	margin-bottom: 3rem;
	width: 100%;
	height:auto;
}

.proj-feature{
	grid-column: 8/span 3;
}

/*Project: RBC*/
#research img{
	grid-column: 3/span 6;
}

/*----Footer---*/
.footer-contact{
	grid-column: 1/span 4;
	margin-left: 2.5rem;
}

footer p{
	grid-column: 9/span 4;
	margin-right: 2.5rem;
}

/*Placed this here because the text-alignment needs to be changed in media queries*/
#copyright-info{
	text-align: right;
}

/*Tablet (size ~1220px and down)*/
@media screen and (max-width:76em){
	/*IGA Prototype Accessibility Features*/
	#feature h2{
		grid-column: 3/span 8;
	}

	video{
		grid-column: 3/span 8;
		margin-bottom: 0.5rem;
		width: 100%;
		height:auto;
	}

	.proj-feature{
		grid-column: 3/span 8;
		margin-bottom: 3rem;
	}

	/*----About Me---*/
	.bonnie{
		grid-column: 3/span 4;
	}

	.about{
		grid-column: 7/span 5;
	}

	.about-hobbies{
		grid-column: 3/span 3;
	}

	.about-connect{
		grid-column: 9/span 3;
	}
}

/*Breaking point: 1000px*/
@media screen and (max-width: 62.5em){
	.home-about{
		grid-column: 2/span 10;
	}

	.proj-card .cta{
		grid-column: 1/span 2;
		grid-row: 3;
	}
}

/*Breaking point: 885px*/
@media screen and (max-width: 55.5em){
	#work .overview-subheading{
		grid-column: 1/span 3;
	}

	.horizontal-line{
		grid-column: 3/span 7;
		width: 100%;
		margin-left: -2rem;
	}

	/*proj cards*/
	.proj-card{
		padding: 1rem;
		margin-top: 0;
		margin-bottom: 2rem;
	}

	.proj-card img{
		border-radius: 5px;
	}

	.proj-card .cta{
		grid-row: 4;
		margin-top: -1rem;
	}
}


/*Phone: 620px*/
@media screen and (max-width:38.75em){
	/*--Section Containers--*/
	section, nav, footer{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	section{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	/*--nav bar--*/
	nav ul{
		grid-column: 1/span 4;
	}

	/*--Home page--*/
	/*Intro*/
	.home-about{
		grid-column: 1/span 4;
	}

	/*Projects heading*/
	#work{
		grid-template-rows: 0.1fr 2fr;
	}

	.my-recent-work{
		grid-column: 1/span 4;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1rem;
	}

	#work .overview-subheading{
		grid-column: 1/span 4;
	}

	.horizontal-line{
		grid-column: 2/span 3;
		margin-left: 0;
	}

	/*Project cards*/
	.proj-card{
		padding-bottom: 0;
	}

	.proj-card:nth-of-type(2){
		grid-column: 1/span 4;
	}

	.proj-card:nth-of-type(3){
		grid-column: 1/span 4;
	}

	.proj-card img{
		grid-column: 1/span 4;
		grid-row: 1;
	}

	.proj-card .subheading{
		grid-column: 1/span 4;
		grid-row: 2;
	}

	.proj-card h3{
		grid-column: 1/span 4;
	}

	.proj-card .cta{
		grid-row: 3;
		margin-top: 0.75rem;
	}

	/*----About Me---*/
	.bonnie{
		grid-column: 1/span 4;
	}

	.about{
		grid-column: 1/span 4;
	}

	.about-hobbies{
		grid-column: 1/span 4;
	}

	.about-connect{
		grid-column: 1/span 4;
	}

	/*----Work----*/
	.content, .content-noSpaced{
		grid-column: 1/span 4;
	}

	.vertical-line{
		grid-column: 4;
	}

	/*Design Overview: Roles*/
	.role:first-of-type{
		grid-column: 1/span 2;
	}

	.role:nth-of-type(2){
		grid-column: 3/span 2;
	}

	.role:nth-of-type(3){
		grid-column: 1/span 2;
	}

	.role:nth-of-type(4){
		grid-column: 3/span 2;
	}

	/*Feature*/
	#feature h2{
		grid-column: 1/span 4;
	}

	video{
		grid-column: 1/span 4;
		margin-bottom: 0.5rem;
		width: 100%;
		height:auto;
	}

	.proj-feature{
		grid-column: 1/span 4;
		margin-bottom: 2rem;
	}

	/*----Footer---*/
	.footer-contact{
		grid-column: 1/span 4;
		margin-left: 0rem;
	}

	footer p{
		grid-column: 1/span 4;
	}

	#copyright-info{
		text-align: left;
	}

	.citations{
		grid-column: 1/span 4;
	}
}

@media screen and (max-width:33.5em){
	#intro h1, #intro h1 a{
		font-size: 1.75rem;
	}
} 

@media screen and (max-width:25.875em){
	#intro h1{
		width:clamp(12ch, 100%, 35ch);
	}

	#work .overview-subheading{
		grid-column: 1/span 3;
	}

	.horizontal-line{
		grid-column: 3/span 2;
	}

	/*proj cards*/
	.proj-card{
		padding: 1rem;
		margin-top: 0;
		margin-bottom: 2rem;
	}

	.proj-card img{
		border-radius: 5px;
	}

	.proj-card .cta{
		grid-row: 4;
		margin-top: -1rem;
	}

	.cover{
	}
}