/*--Section Containers--*/
section, nav, footer{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.875rem; /*roughly 30px*/
}

section{
	padding-top: 4rem;
	padding-bottom: 4rem;
}

/*--nav bar--*/
nav ul{
	display: inline;
	grid-column: 1/span 11;
}

/*--Home page--*/
/*Intro*/
#intro a{
	color: var(--cta-colour);
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 0;
}

.home-about{
	grid-column: 2/span 8;
}

/*Projects heading*/
#work{
	grid-template-rows: 0.1fr 2fr;
}

.my-recent-work{
	grid-column: 2/span 10;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-column-gap: 1.875rem;
}

#work .overview-subheading{
	grid-column: 1/span 2;
}

.horizontal-line{
	grid-column: 2/span 7;
}

/*Project cards*/
.proj-card{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 0.1fr 0.1fr;
	margin-top: 2rem;
	padding: 2rem;
	padding-bottom: 0;
}

.proj-card:nth-of-type(2){
	grid-column: 2/span 5;
}

.proj-card:nth-of-type(3){
	grid-column: 7/span 5;
}

.proj-card a{
	grid-column: 1/span 2;
	grid-row: 1;
}

.proj-card .subheading{
	grid-column: 1/span 2;
	grid-row: 2;
}

.proj-card h3{
	grid-column: 1/span 2;
	grid-row: 3;
}

.proj-card .cta{
	grid-column: 2/span 1;
	grid-row: 3;
}

/*----About Me---*/
.bonnie{
	grid-column: 4/span 3;
}

.about{
	grid-column: 7/span 3;
}

.about-hobbies{
	grid-column: 3/span 3;
}

.about-connect{
	grid-column: 9/span 3;
}

/*----Work----*/
.content, .content-noSpaced{
	grid-column: 4/span 6;
}

/*Design Overview: Roles*/
.role:first-of-type{
	grid-column: 3/span 2;
}

.role:nth-of-type(2){
	grid-column: 5/span 2;
}

.role:nth-of-type(3){
	grid-column: 7/span 2;
}

.role:nth-of-type(4){
	grid-column: 9/span 2;
}

/*Feature*/
#feature h2{
	grid-column: 3/span 5;
}

video{
	grid-column: 3/span 5;
	margin-bottom: 3rem;
	width: 100%;
	height:auto;
}

.proj-feature{
	grid-column: 8/span 3;
}

/*--Citations--*/
.citations{
	grid-column: 2/span 6;
	margin-top: 5rem;
	margin-bottom: 25rem;
}

/*----Footer---*/
.footer-contact{
	grid-column: 1/span 4;
	margin-left: 2.5rem;
}

/*--Style Guide--*/
.style-guide-content{
	grid-column: 2/span 10;
}
/*Colours*/
#colour-grid{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-column-gap: 1.875rem;
}

#colour-grid h2{
	grid-column: 1/span 12;
}

.colour-palette-container{
	margin-bottom: 2rem;
}

.colour-palette-container:first-of-type{
	grid-column: 1/span 3;
}

.colour-palette-container:nth-of-type(2){
	grid-column: 4/span 3;
}

.colour-palette-container:nth-of-type(3){
	grid-column: 7/span 3;
}

.colour-palette-container:nth-of-type(4){
	grid-column: 1/span 3;
}

.colour-palette-container:nth-of-type(5){
	grid-column: 4/span 3;
}

.colour-palette-container:nth-of-type(6){
	grid-column: 7/span 3;
}

/*--Grid structure--*/
#desktop-container{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1.875rem;
}

#desktop-one{
	grid-column: 1/span 1;
}

#desktop-two{
	grid-column: 2/span 1;
}

#desktop-three{
	grid-column: 3/span 1;
}

#desktop-four{
	grid-column: 4/span 1;
}

#desktop-five{
	grid-column: 5/span 1;
}

#desktop-six{
	grid-column: 6/span 1;
}

#desktop-seven{
	grid-column: 7/span 1;
}

#desktop-eight{
	grid-column: 8/span 1;
}

#desktop-nine{
	grid-column: 9/span 1;
}

#desktop-ten{
	grid-column: 10/span 1;
}

#desktop-eleven{
	grid-column: 11/span 1;
}

#desktop-twelve{
	grid-column: 12/span 1;
}

footer p{
	grid-column: 9/span 4;
	margin-right: 2.5rem;
}

/*Placed this here because the text-alignment needs to be changed in media queries*/
#copyright-info{
	text-align: right;
}

/*Tablet (size ~1220px and down)*/
@media screen and (max-width:76em){
	/*IGA Prototype Accessibility Features*/
	#feature h2{
		grid-column: 3/span 8;
	}

	video{
		grid-column: 3/span 8;
		margin-bottom: 0.5rem;
		width: 100%;
		height:auto;
	}

	.proj-feature{
		grid-column: 3/span 8;
		margin-bottom: 3rem;
	}

	/*----About Me---*/
	.bonnie{
		grid-column: 3/span 4;
	}

	.about{
		grid-column: 7/span 5;
	}

	.about-hobbies{
		grid-column: 3/span 3;
	}

	.about-connect{
		grid-column: 9/span 3;
	}
}

/*Breaking point: 1000px*/
@media screen and (max-width: 62.5em){
	.home-about{
		grid-column: 2/span 10;
	}

	.proj-card .cta{
		grid-column: 1/span 2;
		grid-row: 3;
	}
}

/*Phone: 620px*/
@media screen and (max-width:38.75em){
	/*--Section Containers--*/
	section, nav, footer{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	section{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	/*--nav bar--*/
	nav ul{
		grid-column: 1/span 4;
	}

	/*--Home page--*/
	/*Intro*/
	.home-about{
		grid-column: 1/span 4;
	}

	/*Projects heading*/
	#work{
		grid-template-rows: 0.1fr 2fr;
	}

	.my-recent-work{
		grid-column: 1/span 4;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1rem;
	}

	#work .overview-subheading{
		grid-column: 1/span 4;
	}

	.horizontal-line{
		grid-column: 2/span 3;
	}

	/*Project cards*/
	.proj-card:nth-of-type(2){
		grid-column: 1/span 4;
	}

	.proj-card:nth-of-type(3){
		grid-column: 1/span 4;
	}

	.proj-card img{
		grid-column: 1/span 4;
		grid-row: 1;
	}

	.proj-card .subheading{
		grid-column: 1/span 4;
		grid-row: 2;
	}

	.proj-card h3{
		grid-column: 1/span 4;
		grid-row: 3;
	}

	/*----About Me---*/
	.bonnie{
		grid-column: 1/span 4;
	}

	.about{
		grid-column: 1/span 4;
	}

	.about-hobbies{
		grid-column: 1/span 4;
	}

	.about-connect{
		grid-column: 1/span 4;
	}

	/*----Work----*/
	.content, .content-noSpaced{
		grid-column: 1/span 4;
	}

	.vertical-line{
		grid-column: 4;
	}

	/*Design Overview: Roles*/
	.role:first-of-type{
		grid-column: 1/span 2;
	}

	.role:nth-of-type(2){
		grid-column: 3/span 2;
	}

	.role:nth-of-type(3){
		grid-column: 1/span 2;
	}

	.role:nth-of-type(4){
		grid-column: 3/span 2;
	}

	/*Feature*/
	#feature h2{
		grid-column: 1/span 4;
	}

	video{
		grid-column: 1/span 4;
		margin-bottom: 0.5rem;
		width: 100%;
		height:auto;
	}

	.proj-feature{
		grid-column: 1/span 4;
		margin-bottom: 2rem;
	}
	/*--Style Guide--*/
	/*Colours*/
	#colour-grid{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1rem;
	}

	#colour-grid h2{
		grid-column: 1/span 4;
	}

	.colour-palette-container{
		margin-bottom: 2rem;
	}

	.colour-palette-container:first-of-type{
		grid-column: 1/span 4;
	}

	.colour-palette-container:nth-of-type(2){
		grid-column: 1/span 4;
	}

	.colour-palette-container:nth-of-type(3){
		grid-column: 1/span 4;
	}

	.colour-palette-container:nth-of-type(4){
		grid-column: 1/span 4;
	}

	.colour-palette-container:nth-of-type(5){
		grid-column: 1/span 4;
	}

	.colour-palette-container:nth-of-type(6){
		grid-column: 1/span 4;
	}

	/*Grid*/
	#desktop-container{
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 1rem;
	}

	#desktop-five, #desktop-six, #desktop-seven, #desktop-eight, #desktop-nine, #desktop-ten, #desktop-eleven, #desktop-twelve{
		display: none;
	}

	/*--Citations--*/

	/*----Footer---*/
	.footer-contact{
		grid-column: 1/span 4;
		margin-left: 0rem;
	}

	footer p{
		grid-column: 1/span 4;
	}

	#copyright-info{
		text-align: left;
	}

	.citations{
		grid-column: 1/span 4;
	}
}

@media screen and (max-width:34.25em){
	#intro h1, #intro h1 a{
		font-size: 1.5rem;
	}

	#intro h2{
		font-size: 1rem;
	}

	/*proj cards*/
	.proj-card{
		margin-top: 2rem;
		padding: 0.75rem;
		padding-bottom: 0;
	}

	.proj-card a{
		grid-row: 3;
		grid-column: 1/span 4;
	}

	
	/*Project cards*/
	.proj-card img{
		grid-column: 1/span 4;
		grid-row: 1;
	}

	.proj-card .subheading{
		grid-column: 1/span 4;
		grid-row: 2;
	}

	.proj-card h3{
		grid-column: 1/span 4;
		grid-row: 3;
	}

} 